.pricing {
    background-color: rgb(25, 25, 25);
    padding: 3% 5%;
}

.pricing-header {
    display: flex;
    margin-bottom: 50px;
}

.pricing-header h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    letter-spacing: 1px;
}

.pricing-header select {
    position: absolute;
    right: 6.9%;
	border-radius: 4px;
	color: white;
	border: none;
	background-color: rgb(15, 15, 15);
	box-shadow: 0 0 .5em rgb(15, 15, 15);
	outline: none;
    height: 30px;
}

.pricing-boxes {
    display: flex;
}

.pricing-box {
    border-radius: 7px;
    background-color: white;
    margin: auto;
    width: 345px;
    height: 550px;
    box-shadow: 0 0 1em rgb(15, 15, 15);
    background-color: rgb(15, 15, 15);
}

.pricing-box-header {
    background-color: rgb(245, 30, 42);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 5.5% 5%;
}

.pricing-box-header h2 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.pricing-box-info {
    display: flex;
    padding: 4% 0 0 0;
    justify-content: center;
}

.pricing-box-info .moeda {
    color: rgb(255, 95, 95);
    font-size: 30px;
    margin: 2px 2px 0 0;
}

.pricing-box-info .valor {
    color: rgb(255, 95, 95);
    font-size: 40px;
}

.pricing-box-info .tempo {
    color: #ffe8e3;
    margin: auto 0 6px 3px;
}

.pricing-box-body {
    text-align: center;
}

.pricing-box-body ul li {
    color: #ffe8e3;
    margin: 5% 0 6% 0;
}

.pricing-box-body a {
    border: solid 2px white;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

.pricing-box-body a:hover {
    transition: all 0.5s;
    background-color: white;
    color: rgb(245, 30, 42);
}

@media screen and (max-width: 1260px) {
    .pricing-box {
        width: 300px;
        height: 490px;
    }
}

@media screen and (max-width: 1120px) {
    .pricing-box {
        width: 290px;
        height: 475px;
    }
}

@media screen and (max-width: 1010px) {
    .pricing-box {
        width: 265px;
        height: 440px;
    }
    .pricing-box-info .valor {
        font-size: 36px;
    }
    .pricing-box-info .moeda {
        font-size: 28px;
    }
    .pricing-box-body ul li {
        margin: 2%;
    }
}

@media screen and (max-width: 975px) {
    .pricing-box {
        width: 255px;
        height: 420px;
        font-size: 14px;
    }
}

@media screen and (max-width: 880px) {
    .pricing-boxes {
        display: block;
    }
    .pricing-box {
        margin-bottom: 40px;
    }
    .pricing-box-body a {
        padding: 5px 11px;
        font-size: 12px;
    }
}